<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> <!-- 修正済み -->
</head>
<body>
    <h1>勉強の記録</h1>
    <div class = "text_picture">
        <div class = "item">
            <img src="{% static 'image/study.png' %}" alt="勉強時間">
            <p><a href="{% url 'study_time' %}">勉強時間の記録</a></p>
        </div>
        <div class = "item">
            <img src="{% static 'image/typing.png' %}" alt="タイピング">
            <p><a href="{% url 'typing' %}">タイピングの記録</a></p>
        </div>

    </div>
</body>
</html>