<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Time Chart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/study_time_chart.css' %}">
</head>
<body>
    <h1>勉強時間の統計とグラフ</h1>
    <div>
        {% if chart_image %}
            <img src="data:image/png;base64,{{ chart_image }}" alt="Study Time Chart">
        {% else %}
            <p>グラフデータがありません。</p>
        {% endif %}
        <table>
            {% if stats %}
                {% for key, value in stats.items %}
                    <tr>
                        <td> {{ key }} </td> 
                        <td> {{ value }} </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>統計データがありません。</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>
</html>


